.container {
  padding: 0 16px;
}
.messenger-form {
  display: flex;
}

.info {
  color: #666f78;
}

.sub-head{
  font-size: 14px;
}

.m-t-16{
 margin-top: 16px;
}

.header{
  display: flex;
  align-items: center;
}
.main-head{
  display: inline-block;
  width: 400px;
}

.p-btn {
  cursor: pointer;
  border: 1px solid #00f;
  padding: 5px 16px;
  font-size: 14px;
  border-radius: 4px;
  background: #000;
  color: #fff;
  transition: all 0.2s ease-in-out;
  margin: 10px;
}

.messages {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.message {
  background-color: #579ffb;
  color: #fff;
  margin: 16px;
  padding: 16px;
  border-radius: 15px;
}

.message .from {
  font-weight: bold;
  font-size: 14px;
}

.message .time {
  font-size: 12px;
  color: black;
  padding-top: 8px;
}

.message .text {
  font-size: 16px;
  padding-top: 8px;
}
